body{
	background-color:#422220;
	margin:15px;
	font-size:18;
	color:red;
	
}

h1{
	font-family:Arial;
	color:yellow;
}

.login{
	padding:80px;
    background-image: linear-gradient(blue,purple);
;
	
}
#Name{
	padding:3px;
	width:20%;
	color:blue;
	border-radius:4px;
	
}

#lname{
	padding:3px;
	width:20%;
	color:blue;
	border-radius:4px;
	
}
#mail{
	padding:6px;
	width:20%;
	color:blue;
	border-radius:4px;
	
}
#usr{
	padding:6px;
	width:20%;
	color:blue;
	border-radius:4px;
	box-sizing:border-box;
	
}

#no{
	padding:6px;
	width:20%;
	color:blue;
	border-radius:4px;
	box-sizing:border-box;
	
}
#add{
	padding:6px;
	width:20%;
	color:blue;
	border-radius:4px;
	box-sizing:border-box;
	
}
#cty{
	padding:6px;
	width:20%;
	color:blue;
	border-radius:4px;
	box-sizing:border-box;
	
}
#pass{
	padding:6px;
	width:20%;
	color:blue;
	border-radius:4px;
	box-sizing:border-box;
	
}

#register{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}


